@tailwind base;
@tailwind components;

#app {
  @apply min-h-screen w-full overflow-x-hidden;
}

@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/NotoSerifTC-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/NotoSerifTC-Bold.ttf') format('truetype');
  }

  html {
    @apply scroll-smooth;
  }

  body {
    /* @apply min-h-screen; */
    font-family: 'Noto Serif TC', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    font-weight: 400;
  }
}

@layer components {
  .common-section-padding {
    @apply py-20 lg:py-[12.5rem];
  }

  .section-title {
    @apply text-h4 uppercase lg:text-h2;
  }

  .section-sub-title {
    @apply text-title capitalize lg:text-h6;
  }

  .svg-base {
    height: 1em;
  }

  .icon-base {
    @apply text-icon-2 md:text-icon;
  }

  .link-base {
    @apply transition-opacity duration-500 hover:opacity-50 hover:drop-shadow-md;
  }

  .bamboo-l {
    @apply absolute -top-20 left-0 -translate-y-1/2 lg:-top-[12.5rem] lg:left-0;
  }

  .bamboo-r {
    @apply absolute -top-20 right-0 -translate-y-1/2 rotate-180 lg:-top-[12.5rem] lg:right-0;
  }
}

@layer utilities {
  .text-vlr {
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
  }

  .text-vrl {
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
  }

  .text-tb {
    writing-mode: horizontal-tb;
  }
}
