@tailwind base;
@tailwind components;

#app {
  @apply min-h-screen w-full overflow-x-hidden;
}

@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/NotoSerifTC-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/NotoSerifTC-Bold.ttf') format('truetype');
  }

  html {
    @apply scroll-smooth;
  }

  body {
    /* @apply min-h-screen; */
    font-family: 'Noto Serif TC', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    font-weight: 400;
  }
}

@layer components {
  .common-section-padding {
    @apply py-20 xl:py-[12.5rem];
  }
  .svg-base {
    height: 1em;
  }

  .icon-base {
    @apply text-icon-2 md:text-icon;
  }

  .link-base {
    @apply transition-opacity duration-500 hover:opacity-75;
  }
}

@layer utilities {
  .text-vlr {
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
  }

  .text-vrl {
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
  }
}
